body {
  cursor: crosshair;
  margin: 0px;
}

.revealed {
  position: absolute;
  font-family: helvetica;
  left: 36%;
  z-index: 100;
  top: 35%;
  color: white;
  font-size: 3em;
}


.instructions {
  background-color: black;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 10px;
}
